.container {
    border: 1px #aaa solid;
    border-radius: 8px;
    height: 98px;
    padding: 0 24px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}