@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    background-color: white;
    border: 1px solid #CBD5E0;
    border-radius: 4px;
    padding: 4px 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #EEE;
}

input {
    border: 1px solid #CBD5E0;
    padding: 0.5rem;
    font-size: 16px;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

input::-webkit-calendar-picker-indicator {
    display: none !important;
}